go 1.24.0

use (
	./crud
	./user-console
	./delete-store-managers-lambda
	./get-store-managers-lambda
	./put-store-managers-lambda
	./get-managers-lambda
	./openapi
	./middleware
	./firebase
	./aws/parameter-and-secrets
)
